#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

echo "Installing/updating applications via Homebrew..."

{{ $taps     := .homebrew.all.taps     -}}
{{ $formulae := .homebrew.all.formulae -}}
{{ $casks    := .homebrew.all.casks    -}}
{{ $apps     := .homebrew.all.apps     -}}

{{/* differentiate between laptop and desktop */ -}}
{{ $platform := .homebrew.desktop -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $platform = .homebrew.laptop -}}
{{ else if hasSuffix "Test" .chezmoi.hostname -}}
{{  $platform = .homebrew.test -}}
{{  $taps     = list -}}
{{  $formulae = list -}}
{{  $casks    = list -}}
{{  $apps     = list -}}
{{ end -}}

{{/* merge platform-specifics */ -}}
{{ $taps     = concat $taps     $platform.taps     -}}
{{ $formulae = concat $formulae $platform.formulae -}}
{{ $casks    = concat $casks    $platform.casks    -}}
{{ $apps     = concat $apps     $platform.apps     -}}

{{/* merge tahoe-only */}}
{{- $macosVersion := output "sw_vers" "--productVersion" -}}
{{- $macosMajor   := (regexFind "^[0-9]+" $macosVersion) -}}
{{- if eq $macosMajor "26" -}}
  {{ $taps     = concat $taps     .homebrew.tahoe.taps     -}}
  {{ $formulae = concat $formulae .homebrew.tahoe.formulae -}}
  {{ $casks    = concat $casks    .homebrew.tahoe.casks    -}}
  {{ $apps     = concat $apps     .homebrew.tahoe.apps     -}}
{{- end -}}

export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"
mkdir -p {{ .stateDir }}

# Taps
cat > {{ .stateDir }}/Brewfile.taps <<EOF
## Taps
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
EOF
brew bundle --file={{ .stateDir }}/Brewfile.taps

# Formulae, casks, and Mac App Store apps
cat > {{ .stateDir }}/Brewfile <<EOF
## Formulae
{{ range ($formulae | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
## Applications
# Casks
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
#  Mac App Store
{{ range ($apps | sortAlpha | uniq) -}}
mas {{ . }}
{{ end -}}
EOF

brew bundle --file={{ .stateDir }}/Brewfile