#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

echo "Resetting macOS dock applications..."

dockutil --no-restart --remove all

{{/* differentiate between laptop and desktop */ -}}
{{ $app_list := .dock.desktop -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $app_list = .dock.laptop -}}
{{ end -}}

# Selected Dock entries: {{ $app_list | toJson | sha256sum }}
app_list=(
{{ range $app_list -}}
  "{{ . }}"
{{ end -}}
)

for app in "${app_list[@]}"; do
  if [[ -d "${app}" ]]; then
    dockutil --no-restart --add "${app}"
  else
    echo "Skipping absent Dock application: ${app}"
  fi
done

dockutil --add ~/Downloads --view fan --display folder --sort dateadded
