#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

source "{{ .include }}"

app="JDK Mission Control"
src="{{ .filesDir }}/icons/${app}"
dst="/Applications/${app}.app/Contents/Resources"

replace_icons "${src}" "${app}" \
  "mission_control.icns:${dst}/mission_control.icns" || true
