#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

source "{{ .include }}"

app="Wireshark"
src="{{ .filesDir }}/icons/${app}"
dst="/Applications/${app}.app/Contents/Resources"

replace_icons "${src}" "${app}" \
  "Wireshark.icns:${dst}/Wireshark.icns" || true
