#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{/* differentiate between laptop and desktop */ -}}
{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $pre = "laptop." -}}
{{ end -}}

{{ $prefs := print ".files/prefs/BetterDisplay/" $pre "pro.betterdisplay.BetterDisplay.plist.asc" -}}
{{ $shared := ".files/prefs/BetterDisplay/pro.betterdisplay.BetterDisplay.plist.asc" -}}
{{/* fall back to a shared snapshot if available */ -}}
{{ if and (not (stat (joinPath .chezmoi.sourceDir $prefs))) (stat (joinPath .chezmoi.sourceDir $shared)) -}}
{{   $pre = "" -}}
{{ end -}}

source "{{ .include }}"

app="BetterDisplay"

pls="pro.betterdisplay.BetterDisplay.plist"
src="{{ .filesDir }}/prefs/${app}/{{ $pre }}${pls}.asc"
dst="$HOME/Library/Preferences/${pls}"

replace_lib "${app}" - "betterdisplay" "" "${src}" "${dst}"
