#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{/* differentiate between laptop and desktop */ -}}
{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $pre = "laptop." -}}
{{ end -}}

source "{{ .include }}"

app="Loopback"

pls="com.rogueamoeba.Loopback.plist"
src="{{ .filesDir }}/prefs/${app}"
dst="$HOME/Library/Application Support/${app}"

replace_lib "${app}" "2.5.0" "loopback|arkaudiod|aceagent" "${dst}" \
  "${src}/{{ $pre }}${pls}.asc" "$HOME/Library/Preferences/${pls}" \
  "${src}/{{ $pre }}Devices.plist.asc" "${dst}/Devices.plist"
