#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{/* differentiate between laptop and desktop */ -}}
{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $pre = "laptop." -}}
{{ end -}}

source "{{ .include }}"

app="Bartender 7"

pls="com.surteesstudios.Bartender.plist"
src="{{ .filesDir }}/prefs/Bartender"
ready="$HOME/Library/Group Containers/24J875RH8J.com.surteesstudios.Bartender/Library/Application Support/default.store"

replace_lib "${app}" "7.0.1" "bartender|menubaragent|notchbar" "${ready}" \
  "${src}/{{ $pre }}${pls}.asc" "$HOME/Library/Preferences/${pls}"
