#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{ $pre = "laptop." -}}
{{ end -}}
source "{{ .include }}"
src="{{ .filesDir }}/prefs/Bartender"
pls="com.surteesstudios.Bartender.plist"
restore_app_libs 'Bartender 7' 7.0.1 \
  "${src}/{{ $pre }}${pls}.asc" "$HOME/Library/Preferences/${pls}"
