#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{/* differentiate between laptop and desktop */ -}}
{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $pre = "laptop." -}}
{{ end -}}

source "{{ .include }}"

app="BetterDisplay"

pls="pro.betterdisplay.BetterDisplay.plist"
src="{{ .filesDir }}/prefs/${app}/{{ $pre }}${pls}.asc"
dst="$HOME/Library/Preferences/${pls}"

replace_lib "${src}" "${dst}" "${app}" "${pls}" true
