#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

source "{{ .include }}"

app="HuionTablet"

pls="com.huion.HuionTablet.plist"
src="{{ .filesDir }}/prefs/${app}/${pls}"
dst="$HOME/Library/Preferences/${pls}"

replace_lib "${src}" "${dst}" "${app}" "${pls}"

cfg="HUION_M214.cfg"
src="{{ .filesDir }}/prefs/${app}/${cfg}"
dst="$HOME/Library/Application Support/HuionTablet/${cfg}"

replace_lib "${src}" "${dst}" "${app}" "${cfg}"
