#!/usr/bin/env zsh
set -eufo pipefail
IFS=$'\n\t'

{{/* differentiate between laptop and desktop */ -}}
{{ $pre := "desktop." -}}
{{ if hasPrefix "MacBook" .chezmoi.hostname -}}
{{   $pre = "laptop." -}}
{{ end -}}

source "{{ .include }}"

app="Moom"

pls="com.manytricks.Moom.plist"
src="{{ .filesDir }}/prefs/${app}/{{ $pre }}${pls}"
dst="$HOME/Library/Preferences/${pls}"
replace_lib "${src}" "${dst}" "${app}" "${pls}"

mkdir -p "$HOME/Library/Application Support/Many Tricks/Licenses"

lic="Ian Jukes.moomlicense"
src="{{ .filesDir }}/prefs/${app}/${lic}.asc"
dst="$HOME/Library/Application Support/Many Tricks/Licenses/${lic}"
replace_lib "${src}" "${dst}" "${app}" "${lic}" true

lic="Ian Jukes.moomupgradelicense"
src="{{ .filesDir }}/prefs/${app}/${lic}.asc"
dst="$HOME/Library/Application Support/Many Tricks/Licenses/${lic}"
replace_lib "${src}" "${dst}" "${app}" "${lic}" true

lic="Ian Jukes.moomcombolicense"
src="{{ .filesDir }}/prefs/${app}/${lic}.asc"
dst="$HOME/Library/Application Support/Many Tricks/Licenses/${lic}"
replace_lib "${src}" "${dst}" "${app}" "${lic}" true
